.parentdiv-nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

.fb-nav {
    align-items: center;
    justify-content: flex-end;
}

.circle {
    border-radius: 51%;
    height: 50px;
}

.name-Parent {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.name-sub-parent {
    justify-content: center;
    text-align: center;
    align-content: center;
    height: 100vh;
}

.name {
    font-family: "Sofia", serif;
}

.name-div {
    justify-content: center;
    align-content: center;
    text-align: center;
}
